# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
/build
/buildSrc/build
.gradletasknamecache

# IDE
.idea

# general
.DS_Store
*.swp
/*.iml
derby.log
*.key
.env

# ctags
/tags

# ignore output file
/bin
/cli/*.jar
/cli/ananas
/cli/ananas_completion
/artifacts
/artifacts/*

# ignore local file
test.local.properties

