target/
.gradle/
.idea/*
/build
derby.log
/package
/tags
out/
derby.log
cscope.files
cscope.in.out
cscope.out
cscope.po.out
/src/test/resources/test_projects/**/output
**/.temp-beam-*

test.local.properties
